header {
  max-width: 1150px;
  padding-top: 33px;
  margin: auto;
}
.menu {
  height: 25.18px;
  margin: 0 auto;
}

.menu__logo {
  width: 126.89px;
  height: 21.42;
}
.menu__nav {
  float: right;
  margin-top: -1px;
}
.menu__nav-link {
  line-height: 25px;
  font-weight: 400px;
  font-size: 18px;
  letter-spacing: -0.03em;
  margin-left: 57px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__nav-link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
